* {
    box-sizing: border-box;
}
.content  {
    font-family: 'Fira Sans', sans-serif;
    width: 1000px;
    margin: 0 auto;
    background-color: #cccc65;
    color: #3f3030;
}
header  {
    background-color: #ffa500;
    color: #3f3030;
    line-height: 100px;
    height: 100px;
    padding-left: 10px;
    text-align: center;
}
.meni  {
    float: left;
    padding: 15px;
    width:20%;
}
.meni__nav  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.meni__item  {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #3f3030;
}
.meni__link  {
    color: #ffa500;
    text-decoration: none;
}
.meni__item:hover  {
    background-color: #6d8484;
}
main  {
    width: 80%;
    float:right;
}
h2  {
    text-align: center;
}
/*table, th, td  {
    border:1px solid #3f3030;
    border-collapse: collapse;
}*/
table {
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: 1px solid #3f3030;
    padding: 5px 5px;
    text-align: left;
}
footer  {
    clear: both;
    background-color: orange;
    color: #3f3030;
    text-align: center;
    line-height: 75px;
}