<div class="meni">
    <ul class="meni__nav">
      <li class="meni__item">
        <a class="meni__link" href="index.php?link=movies">Filmovi</a>
      </li>
      <li class="meni__item">
        <a class="meni__link" href="index.php?link=genre">Žanr</a></li>
      </li>
      <li class="meni__item">
        <a class="meni__link" href="index.php?link=schedule">Raspored</a>
      </li>
    </ul>
</div>